.btn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease;
    height: 60px;
    // min-width: 150px;
    color: $font-primary;
    font-size: 20px;
    /* Variants */
    &.primary {
        background-color: $primary-color;
        color: $primary-200;
        &:hover {
            background-color: $primary-500;
        }
    }

    &.secondary {
        background-color: $button-secondary;
        &:hover {
            background-color: $button-secondary-hover;
        }
    }

    &.danger {
        background-color: #ef4444;
        color: white;

        &:hover {
            background-color: #dc2626;
        }
    }

    /* Sizes */
    &.small {
        padding: 4px 12px;
        font-size: 0.875rem;
    }

    &.medium {
        padding: 8px 24px;
        font-size: 20px;
    }

    &.large {
        padding: 12px 32px;
        font-size: 1.125rem;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}