// Colors

$primary-color: #00A3AD;
$primary-500:#00A3AD;
$primary-200:#f2fafb;
$select-color:#00A3AD00;
$bg-white:#ffffff;
$font-primary:#026786;
$font-secondary:#4A4A4A;
$font-light:#B2B2B2;
$border-color:#E6E6E6;
$color-grey-400:#7C7C7C;
$background-grey-200:#FCFCFC;
$background-grey-400:#E8E8E8;
$background-primary-200:#FCFCFC;
$button-secondary-hover:#FFCD05;
$button-secondary:#ffe682;

// responsive breakdowns
$break-xxs: 480px;
$break-xs: 768px;
$break-sm: 1024px;
$break-md: 1280px;
$break-lg: 1920px;

