.side-nav__menu {
    max-width: 200px;
    width: 200px;
    position: sticky;
    top: 180px;
    height: fit-content;
    margin-top: 1.8em;
    &__item {
        margin-bottom: 15px;
        font-size: 22px;
        color: $font-primary;
        font-weight: 600;
        display: flex;
        letter-spacing: -0.28px;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;
        padding: 10px;
        svg{
            height: 19px;
            width: 19px;
        }
        span {
            line-height: 1;
            letter-spacing: -0.28px;
        }

        &.not-visited {
            color: $font-light;
        }
        &:focus-visible{
            outline:none
        }
        &:hover {
            color: $primary-500;
        }

        &::before {
            content: "";
            background-color: $primary-500;
            width: 4px;
            height: 100%;
            position: absolute;
            left: -10px;
            transition: width 0.3s ease;
            transform: translateY(20px);
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 0;
            border-radius: 5px;
        }

        &.active {
            color: $primary-500;

            &::before {
                opacity: 1;
            }

            &::before {
                transform: translateX(0);
                opacity: 1;
            }
        }
        div{
            max-height: 20px;
            margin-left: auto;
            padding-left: 27px;
            display: flex;
            align-items: center;
        }
    }
}
.option-template{
    display: flex;
    justify-content: space-between;
    color: $font-primary;
    font-weight: 600;
    position: relative;
    &.active{
        color: $primary-500;
        &::before{
            content: "";
           background-color: $primary-500;
            width: 4px;
            height: 100%;
            position: absolute;
            left: -10px;
            transition: width 0.3s ease;
            // transform: translateY(20px);
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 1;
            border-radius: 5px;
        }
    }
    svg{
        path{
            fill: $primary-color;
        }
    }
}