.typography {
    margin: 0;
    font-family: 'Inter', sans-serif;
    a{
        color: $primary-color;
    }
    &.primary {
        color: $font-primary; // default dark gray
    }

    &.primary-500 {
        color: $font-light;
    }

    &.secondary {
        color: $font-secondary;
    }

    &--h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    &--h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    &--h3 {
        font-size: 1.75rem;
        font-weight: 600;
        @media (max-width: $break-xs) {
            font-size: 20px;
        }
    }

    &--h4 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &--h5 {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &--h6 {
        font-size: 1rem;
        font-weight: 500;
    }

    &--p {
        font-size: 1rem;
        line-height: 1.6;
        @media (max-width: $break-xs) {
            font-size: 18px;
        }
    }

    &--span {
        font-size: 0.875rem;
    }

    &--small {
        font-size: 0.75rem;
    }
}