.radio-card {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 100%;
    max-width: 450px;
    padding: 15px;

    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background: #ffffff;

    position: relative;
    cursor: pointer;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;

    input {
        display: none;
    }

    &:hover {
        border-color: #14b8a6;
    }

    &.is-selected {
        border-color: #14b8a6;
        box-shadow: 0 0 0 1px rgba(20, 184, 166, 0.4);
    }

    &.is-disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    /* -------- CONTENT -------- */
    &__content {
        display: flex;
        align-items: center;
        gap: 12px;

        flex: 1; // allow shrinking
        min-width: 0; // REQUIRED for truncation
    }

    /* -------- LABEL -------- */
    &__label {
        font-size: 20px;
        font-weight: 500;
        color: $font-primary;

        line-height: 1.2;
        display: block;

        max-width: 300px; // adjust as needed
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: $break-xs) {
            font-size: 18px;
        }
    }

    /* -------- TAG -------- */
    &__tag {
        font-size: 12px;
        padding: 3px 8px;
        height: 20px;

        border-radius: 7px;
        background: #e8e8e8;
        color: #7c7c7c;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: -15px;
        left: 16px;
        pointer-events: none;
    }

    /* -------- RADIO INDICATOR -------- */
    &__indicator {
        width: 18px;
        height: 18px;

        border-radius: 50%;
        border: 2px solid #14b8a6;
        position: relative;

        margin-left: auto; // push to right

        &::after {
            content: '';
            position: absolute;
            inset: 3px;

            border-radius: 50%;
            background: #14b8a6;

            opacity: 0;
            transform: scale(0.5);
            transition: opacity 0.2s ease, transform 0.2s ease;
        }
    }
}

.radio-card.is-selected .radio-card__indicator::after {
    opacity: 1;
    transform: scale(1);
}