.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1250px;
  padding-left: 16px;
  padding-right: 16px;
}

.loader_container {
  display: flex;
  flex-direction: column;
  min-height: 92svh;
  align-items: center;
  >.container{
    margin-top: 60px;
  }
}