.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1250px;
  padding-left: 16px;
  padding-right: 16px;

  // @media (min-width: $break-sm) {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }

  // @media (min-width: $break-md) {
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }
}
