:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding: 0;
  margin: 0;
  background: #FCFCFC;
  min-height: 100svh;
  font-family: Helvetica, Arial, sans-serif;
  color: $font-secondary;
}

main{
  width: 100%;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex!important;
}

.divider{
  border-top: 1px solid $border-color;
}
.space-between{
  justify-content: space-between;
}

.gap {
  @for $i from 1 through 7 {
    &-#{$i} {
      gap: #{$i * 4}px; // Example: 1→4px, 2→8px, ..., 7→28px
    }
  }
}

.font{
  @for $i from 16 through 28 {
    &-#{$i} {
      font-size: #{$i}px; // Example: 1→4px, 2→8px, ..., 7→28px
    }
  }
}