:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding: 0;
  margin: 0;
  background: #FCFCFC;
  min-height: 100svh;
  font-family: Helvetica, Arial, sans-serif;
  color: $font-secondary;
}

main{
  width: 100%;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex!important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.divider{
  border-top: 1px solid $border-color;
}
.space-between{
  justify-content: space-between;
}

.gap {
  @for $i from 1 through 7 {
    &-#{$i} {
      gap: #{$i * 4}px; // Example: 1→4px, 2→8px, ..., 7→28px
    }
  }
}

.font{
  @for $i from 16 through 28 {
    &-#{$i} {
      font-size: #{$i}px; // Example: 1→4px, 2→8px, ..., 7→28px
    }
  }
}

.not-found{
  &__wrapper{
    height: 70vh;
    width: 70%;
    border-radius: 10px;
    background-color: #ffff;
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    h1{
      font-size: 72px;
      text-align: center;
    }
    h4{
      text-align: center;
    }
    h5{
      text-align: center;
    }
  }
}